.loader__container {
  width: 50vh;
  height: 15vh;
  position: absolute !important;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-out;
}

.loader__container--finished {
  top: 0;
  opacity: 0;
}

.loader__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5vh;
  font-size: 2.25vh;
  font-weight: 500;
  color: white;
  position: relative;
  text-shadow: 0 0 1vh white;
}

.loader__title-underline {
  position: absolute;
  height: 0.5px;
  width: 70%;
  margin-top: 4vh;
  background-color: var(--main-color);
  box-shadow: 0 0 1vh 0.3vh var(--main-color);
}

.loader__dot {
  display: inline;
  width: 2vh;
  height: 2vh;
  background: white;
  margin: 0 0.2vh;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

.loader__bar {
  position: absolute;
  top: 50%;
  width: calc(100% - 4vh);
  height: 1vh;
  background: white;
  left: 2vh;
}

.loader__bar-inner {
  position: absolute;
  width: 35%;
  height: 100%;
  background: var(--main-color);
  box-shadow: 0 0 1vh 0.3vh var(--main-color);
}

.loader__bar-description {
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
  margin-top: 5vh;
}

.loader__bar-start {
  font-size: 1.5vh;
  color: white;
}

.loader__bar-end {
  font-size: 1.5vh;
  color: var(--main-color);
  text-shadow: 0 0 1vh var(--main-color);
}

@keyframes pulse {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width: 480px) {
  .loader__container {
    width: 300px;
  }

  .loader__title {
    font-size: 15px;
  }

  .loader__dot {
    width: 12px;
    height: 12px;
  }

  .loader__title-underline {
    box-shadow: 0 0 5px 1px var(--main-color);
  }

  .loader__bar {
    height: 5px;
  }

  .loader__bar-start {
    font-size: 12px;
  }
  
  .loader__bar-end {
    font-size: 12px;
    text-shadow: 0 0 1vh var(--main-color);
  }
}