.skills__container {
  position: absolute;
  left: 25%;
  width: 80%;
  height: 70%;
  top: 10%;
  perspective: 230px;
  display: flex;
}

.skills__statistics-container {
  width: 40vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: rotateY(-10deg);
}

.skills__statistics-title {
  margin-top: 1.5vh;
  color: var(--main-color);
  margin-left: 4vh;
  font-size: 3vh;
  font-weight: 500;
  text-shadow: 0 0 2vh var(--main-color);
}

.skills__statistics-section {
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
  margin-top: 0.9vh;
}

.skills__statistics-label {
  color: var(--main-color);
  padding-top: 0.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  width: fit-content;
  font-size: 1.5vh;
}

.skills__statistics-display {
  height: 3vh;
  border: 1px solid var(--main-color);
  margin-right: 2vh;
  border-radius: 0.5vh;
  margin-top: 0.25vh;
  width: 30.5vh;
  display: flex;
  align-items: center;
  margin-left: 4vh;
}

.skills__statistics-block {
  width: 1.5vh;
  margin-left: 0.5vh;
  height: 2vh;
  background: var(--main-color);
  border-radius: 0.25vh;
  box-shadow: 0 0 1vh 0.1vh var(--main-color);
}

.skills__synposis-container {
  width: 50vh;
  margin-right: 10vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skills__synopsis-title {
  padding: 2vh;
  color: var(--main-color);
  margin-left: 6vh;
  font-size: 3vh;
  font-weight: 500;
  text-shadow: 0 0 2vh var(--main-color);
}

.skills__synposis-section {
  display: flex;
  flex-direction: column;
  padding-left: 3vh;
  padding-top: 4vh;
}

.skills__synposis-title {
  color: var(--main-color);
  font-size: 2vh;
  font-weight: 500;
}

.skills__synposis-content {
  color: white;
  font-size: 1.5vh;
  display: flex;
}