* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  --main-color: #ae00b9;
  --stration-mask: repeating-linear-gradient(black, black 2px, transparent 3px);
}

*::after, *::before {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.glitch {
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.glitch:before,
.glitch:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before{
  animation: glitchTop 0.5s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.glitch:after{
  animation: glitchBottom 0.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.retro-lines {
  mask-image: repeating-linear-gradient(black, black 0.5rem, rgba(0, 0, 0, 0.5) 0.75rem);
  mask-position: center 0;
  animation: retro 1s linear infinite;
}

@keyframes retro {
  0% {
    -webkit-mask-position: center 0;
    mask-position: center 0;
  }
  100% {
    -webkit-mask-position: center -1.5vh;
    mask-position: center -1.5vh;
  }
}

.console__container {
  --aug-border-all: 0.5px;
  --aug-border-bg: var(--main-color);
  --aug-tl1: 8vh;
  --aug-tr1: 8vh;
}

.control__container {
  --aug-border-all: 3px;
  --aug-border-bg: var(--main-color);
  --aug-bl1: 8vh;
  --aug-tr1: 2vh;
}

.control__toggle-button {
  --aug-border-all: 3px;
  --aug-border-bg: var(--main-color);
  --aug-bl1: 2vh;
  --aug-tr1: 2vh;
  --aug-br1: 2vh;
  --aug-tl1: 2vh;
}

.control__button {
  --aug-border-all: 3px;
  --aug-border-bg: var(--main-color);
  --aug-br1: 2vh;
  --aug-tl1: 2vh;
}

.skills__statistics-container {
  --aug-border-all: 2px;
  --aug-border-bg: var(--main-color);
  --aug-bl1: 7vh;
  --aug-tr1: 7vh;
  --aug-tl1: 4vh;
}

.skills__statistics-label {
  --aug-border-all: 1px;
  --aug-border-bg: var(--main-color);
  --aug-br1: 2vh;
  --aug-tl1: 1vh;
}

.skills__synposis-container {
  --aug-border-all: 2px;
  --aug-border-bg: var(--main-color);
  --aug-bl1: 3vh;
  --aug-tr1: 3vh;
  --aug-tl1: 7vh;
  --aug-br1: 7vh;
}

.projects__project-container {
  --aug-border-all: 2px;
  --aug-border-bg: var(--main-color);
  --aug-inlay-bg: var(--main-color);
  --aug-inlay-opacity: 0.15;
  --aug-bl1: 3vh;
  --aug-tr1: 3vh;
  --aug-tl1: 3vh;
  --aug-br1: 3vh;
  --aug-t: 3vh;
}

.projects__project-stack-display {
  --aug-border-all: 1px;
  --aug-border-bg: var(--main-color);
  --aug-br1: 0.5vh;
  --aug-tl1: 1vh;
}

.projects__project-code {
  --aug-border-all: 2px;
  --aug-border-bg: red;
  --aug-br1: 1vh;
  --aug-tl1: 1vh;
  --aug-tr1: 0.5vh;
  --aug-bl1: 0.5vh;
}

.mask__top {
  --aug-border-all: 2px;
  --aug-border-bg: var(--main-color);
  --aug-b: 5vh;
}

.mask__bottom {
  --aug-border-all: 2px;
  --aug-border-bg: var(--main-color);
  --aug-t: 5vh;
}

.loader__container {
  --aug-border-all: 5px;
  --aug-border-bg: var(--main-color);
  --aug-br1: 3vh;
  --aug-tl1: 3vh;
  --aug-tr1: 1.5vh;
  --aug-tr1-height: 1vh;
  --aug-bl1: 5vh;
  --aug-bl1-height: 1vh;
  --aug-bl1-width: 2.5vh;
}